
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #13041e;
}

main{
    padding: 30px;
    box-sizing: border-box;
}

#login, #signin{
    margin: 50px auto;
    background-color: #26073c;
    color: #ffffff;
    width:25%;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: heebo,sans-serif;
    padding: 20px;
    position: relative;
}

#signin{
    display: none;
}

.fa-xmark{
    text-align: right;
    position: absolute;
    top: 4px;
    right: 8px;
    font-size: 16pt;
}

input{
    width: 80%;
    height: 30px;
    box-sizing: border-box;
    margin-top:20px;
    font-family: roboto,sans-serif;
    padding: 5px;
}

button{
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    width: 80%;
    margin-top: 40px;
    height: 30px;
}

button:hover{
    background-color: rgb(177, 2, 2);
    cursor: pointer;
}

a{
    color: white;
    text-decoration: none;
}

.new p{
    font-size: 10pt;
}

.new p a{
 text-decoration: underline;
 color: #7f00da;
}

@media screen and (max-width: 913px){
    #login, #signin{
        width:400px;
        height: 500px;
    }
}

@media screen and (max-width: 500px) {
    #login, #signin{
        width:90%;
    }
}

