* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-symbols-rounded {
    color: white;
}

body {
    background-color: #13041e;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.4fr 1.8fr 4fr 1fr 0.5fr;
    grid-template-areas:
        "nav nav nav"
        "main main main"
        "main main main"
        "main main main"
        "footer footer footer";
}
nav {
    background-color: #26073c;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    width: 20vw;
}

.logo img {
    width: 150px;
}

.navigate {
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
}

.navigate ul {
    width: 100vw;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.navigate ul li a {
    font-family: oswald, sans-serif;
    font-size: 14pt;
    text-decoration: none;
    color: #ffffff;
}

.navigate ul li a:hover {
    color: #ff0a0a;
    border-bottom: 2px solid #ff0a0a;
}

.cariNime {
    display: flex;
    justify-content: flex-end;
    width: 25vw;
    align-content: center;
}

.akun {
    width: 20vw;
    display: flex;
    justify-content: right;
}

.akun a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20pt;
}

.dropDown {
    display: none;
}

.dropDown{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20pt;
    margin-left: 15px;
} 

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff0a0a;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100;
    right: 0;
    font-family:barlow,sans-serif ;
}
  
  .dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16pt;
}
  
.dropDown a:hover {
    background-color: #a81515;
}
 
.show {display: block;}


main{
    grid-area: main;
    padding: 10px;
}

.manga, .anime {
    padding: 10px;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    width: fit;
    gap: 10px;
}

.mangabox, .animebox{
    width: fit-content;
    padding: 10px;
    color: white;
    font-size: 14pt;
    font-family: oswald,sans-serif;
    border-bottom: 1px solid red;
}

.mangabox:hover{
    background-color: #220338;
}

.animebox:hover{
    background-color: #220338;
}

.mangacard, .animecard{
    margin: 5px 0;
    display: flex;
    gap:10px
}

main h2{
    font-size: 18pt;
    font-family: oswald, sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 20px auto;
}

.sinopsis{
    font-family: heebo,sans-serif;
    color: white;
    font-size: 12pt;
    line-height: 12pt;
    width: 200px;
    height: 200px;
    overflow: auto;
    text-align: justify;
}

.sinopsis::-webkit-scrollbar{
    display: none;
}

.cover {
    max-width: 170px;
    max-height: auto;
    overflow: hidden;
}

.cover img{
    width: 100%;
}

.cover img:hover{
    transition: .1s linear;
    transform: scale(1.1);
}

.status{
    font-family: heebo,sans-serif;
    font-size: 12pt;
    float: right;
}

footer {
    background-color: #26073c;
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    font-family: heebo, sans-serif;
    font-size: 10pt;
    color: white;
    justify-content: center;
    align-items: center;
}

.socialMedia img {
    max-height: 45px;
}

.socialMedia {
    padding: 10px;
    width: 40%;
    display: flex;
    justify-content: end;
    gap: 15px;
    border-right: 2px solid white;
}

.navFooter p {
    color: #adadad;
}

.navFooter {
    width: 60%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.navFooter ul li a:hover {
    text-decoration: underline;
}

.navFooter ul li a {
    color: white;
    font-size: 10pt;
    text-decoration: none;
}

.socialMedia,
.navFooter ul {
    flex-wrap: wrap;
}

.socialMedia ul,
.navFooter ul {
    display: flex;
    gap: 7px;
    list-style: none;
}

.socialMedia ul li a {
    color: white;
    font-size: 18pt;
    text-decoration: none;
}

.mangabox{
    border-bottom: 1px solid red;
 }

@media screen and (max-width: 915px) {
    body {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 0.2fr 5fr 3fr 0.3fr;
        grid-template-areas:
            "nav nav nav"
            "main main main"
            "main main main"
            "footer footer footer";
    }
    
    .navigate,
    .cariNime {
        display: none;
    }

    .socialMedia{
        justify-content: center;
        border-right: 0;

    }

    .dropDown {
        display: block;
        margin-left: 20px;
    }

}

@media screen and (max-width: 500px) {
    .navFooter ul {
        justify-content: center;
    }

    footer {
        flex-direction: column;
        justify-content: start;
        text-align: center;
    }

}
